/* Center main content horizontally and vertically */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text within the main content */
    margin-top: 100px; /* Add top margin to move content down vertically */
    height: 100vh; /* Set the main content height to 100% of the viewport height */
}

/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    background-color: #000;
    color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    cursor: none;
}

header {
    text-align: center;
    padding: 20px;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
    transition: color 0.3s, background-color 0.3s;
    padding: 5px 10px;
}

nav a:hover {
    color: #ff9900; /* Change text color on hover */
    background-color: #333; /* Change background color on hover */
    border-radius: 5px; /* Add rounded corners */
}

/* Style headings */
h1 {
    font-size: 48px; /* Larger font size */
    margin-bottom: 35px; /* Increased margin for spacing */
    color: #fff; /* Initial text color */
    transition: color 0.2s;
    position: relative; /* Set the position to relative to accommodate ::after */
    text-align: center; /* Center the text within the h1 element */

}

h2 {
    font-size: 36px; /* Larger font size */
    margin-bottom: 15px; /* Increased margin for spacing */
}

/* Style paragraphs */
p {
    font-size: 24px; /* Larger font size */
    line-height: 1.5;
    transition: color 0.6s;
}

/* Style the footer */
footer {
    background-color: #333;
}

footer p {
    color: #fff;
}

.custom-cursor {
    width: 10px; /* Set the width of the cursor */
    height: 10px; /* Set the height of the cursor */
    background-color: #fff; /* White background color */
    border-radius: 50%; /* Make it a circle */
    position: absolute;
    transform: translate(-50%, -50%); /* Center the cursor on the pointer */
    pointer-events: none; /* Ensure the cursor doesn't interfere with interactions */
    transition: width 0.2s, height 0.2s; /* Add a smooth transition effect */
}

.hover-effect:hover {
    width: 30px;
    height: 30px;
    color: #ff9900; /* Change text color on hover to orange */
    transition: color 0.7s ease;
}

.customCursor:hover {
    width: 30px; /* Increase width on hover */
    height: 30px; /* Increase height on hover */
}

.custom-cursor:hover {
    width: 30px; /* Increase width on hover */
    height: 30px; /* Increase height on hover */
}

h1::after {
    content: "9372"; /* Initial content */
    color: #ff9900; /* Color of "9371" text */
    position: absolute; /* Position the "9371" text absolutely */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the "9371" text */
    opacity: 0; /* Initially hide the "9371" text */
    transition: opacity 0.3s; /* Add a smooth opacity transition */
}

h1:hover::after {
    opacity: 1; /* Show the "9372" text on hover */
}

/* Hide "Standard Model" text when hovering */
h1:hover {
    color: transparent; /* Make "Standard Model" text transparent on hover */
}

p:hover {
    color: #ff9900; /* Change text color to orange on hover */
}



/* Style the logo */
#logo {
    display: block; /* Ensure it's a block-level element */
    margin: 0 auto; /* Center the logo horizontally */
    width: 400px; /* Adjust the width to your logo size */
    transition: filter 0.3s; /* Add a smooth transition effect for hover */
    filter: brightness(1); /* Set the initial brightness to 100% */
    display: block;
}

/* Add a hover effect to the logo */
#logo:hover {
    filter: brightness(1.2); /* Change the brightness on hover to make it #ff9900 */
}
